.container {

display: grid;
width: 2560px;
height: 1600px;
background-color: white;
padding-top: 175;
padding-left: 300;
overflow: hidden;
position: fixed;

}

.blueLine {

width: 100%;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
left:-5px;

}

.navigator {

font-size: 13pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
position: absolute;

}

.title {

font-size: 31pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
margin-top: 120px;
position: absolute;

}

.subtitle {

font-size: 13pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
margin-top: 197;
position: absolute;

}

.numberList {

font-size: 31pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
margin-top: 174;
position: absolute;
margin-left: 850;
line-height: 51pt;
}

.blueUnderline1 {

width: 180;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
margin-top: 269;
margin-left: 850;

}

.blueUnderline2 {

width: 180;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
margin-top: 337;
margin-left: 850;

}

.blueUnderline3 {

width: 180;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
margin-top: 405;
margin-left: 850;

}

.blueUnderline4 {

width: 180;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
margin-top: 473;
margin-left: 850;

}

.blueUnderline5 {

width: 180;
height: 3px;
background-color: rgb(21, 82, 255);
position: fixed;
overflow:visible;
margin-top: 541;
margin-left:850;

}