.canvas {

width: 800px;
height: 800px;
border: 1px solid black;
position:absolute;
overflow: hidden;

}

.orangeSquare {

width: 400px;
height: 300px;
background-color: rgb(255, 85, 0);
left: 230px;
position:absolute;

}