.container {

display: grid;
background-color: white;
padding-top: 299px;
padding-left: 423px;
overflow: hidden;

}

.blueLine {

width: 3000px;
height: 5.33px;
background-color: rgb(21, 82, 255);
margin-left: -423px;
position:absolute;

}

.navigator {

font-size: 33pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;

}

.title {

font-size: 67pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
margin-top: 673px;

}

.subtitle {

font-size: 29pt;
font-family: "interstate-mono", monospace;
font-weight: 300;
font-style: normal;
color: red;

}